.App {
  text-align: center;
}

.Login_container {
  margin: 4% 16%;
  padding: 2% 4%;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.debounce {
  text-align: center;
  margin: auto;
  /* padding: 2% 12%; */
}
.landing {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  margin: 2% 16%;
  padding: 2% 0%;
}
.landing__link {
  padding: 4%;
  text-decoration: none;
  margin-top: 64%;
  width: 100%;
  font-size: 20px;
}
